#contact {
  a {
    text-align: center;
    text-decoration: none;
    font-family: "Futura";
    color: $black;

    span {
      color: $purple;
      @include transition(color .2s ease);
    }

    &:hover {
      span {
        color: inherit;
      }
    }
  }
}
