---
title: "Home"
description: "Welcome to my home on the web."
id: 'index'
priority: 1.0
pageClasses:
  - 'main'
  - 'index'
layout: base
styles:
  - 'main'
---

<section id="the-art">

  <a title="Jimmy the Lion" class="piece jimmy one odd" href="/piece/jimmy/">
    <img src="/images/artwork/380/Jimmy.jpg" data-src-2x="/images/artwork/760/Jimmy.jpg"/>
  </a>
  <a title="Napoleon the Llama" class="piece napoleon two even" href="/piece/napoleon/">
    <img src="/images/artwork/380/Napoleon.jpg" data-src-2x="/images/artwork/760/Napoleon.jpg"/>
  </a>
  <a title="Bruce the Gorilla" class="piece bruce three odd" href="/piece/bruce/">
    <img src="/images/artwork/380/Bruce.jpg" data-src-2x="/images/artwork/760/Bruce.jpg"/>
  </a>
  <a title="Chloe the Giraffe" class="piece chloe four even" href="/piece/chloe/">
    <img src="/images/artwork/380/Chloe.jpg" data-src-2x="/images/artwork/760/Chloe.jpg"/>
  </a>


  <a title="Sally the Hippo" class="piece sally one odd" href="/piece/sally/">
    <img src="/images/artwork/380/Sally.jpg" data-src-2x="/images/artwork/760/Sally.jpg"/>
  </a>
  <a title="Colin the Fox" class="piece colin two even" href="/piece/colin/">
    <img src="/images/artwork/380/Colin.jpg" data-src-2x="/images/artwork/760/Colin.jpg"/>
  </a>
  <a title="Petunia the Red Panda" class="piece petunia three odd" href="/piece/petunia/">
    <img src="/images/artwork/380/Petunia.jpg" data-src-2x="/images/artwork/760/Petunia.jpg"/>
  </a>
  <a title="Sampson the Polar Bear" class="piece sampson four even" href="/piece/sampson/">
    <img src="/images/artwork/380/Sampson.jpg" data-src-2x="/images/artwork/760/Sampson.jpg"/>
  </a>


  <a title="Lola the Sloth" class="piece lola one odd" href="/piece/lola/">
    <img src="/images/artwork/380/Lola.jpg" data-src-2x="/images/artwork/760/Lola.jpg"/>
  </a>
  <a title="Sir Jeffrey the Koala" class="piece jeffrey two even" href="/piece/sir-jeffrey/">
    <img src="/images/artwork/380/SirJeffrey.jpg" data-src-2x="/images/artwork/760/SirJeffrey.jpg"/>
  </a>
  <a title="Amelia the Cheetah" class="piece amelia three odd" href="/piece/amelia/">
    <img src="/images/artwork/380/Amelia.jpg" data-src-2x="/images/artwork/760/Amelia.jpg"/>
  </a>
  <a title="Akeela the Wolf" class="piece akeela four even" href="/piece/akeela/">
    <img src="/images/artwork/380/Akeela.jpg" data-src-2x="/images/artwork/760/Akeela.jpg"/>
  </a>


  <a title="Gerald the Gazelle" class="piece gerald one odd" href="/piece/gerald/">
    <img src="/images/artwork/380/Gerald.jpg" data-src-2x="/images/artwork/760/Gerald.jpg"/>
  </a>
  <a title="Viktor the Pelican" class="piece viktor two even" href="/piece/viktor/">
    <img src="/images/artwork/380/Viktor.jpg" data-src-2x="/images/artwork/760/Viktor.jpg"/>
  </a>
  <a title="Alfred the Zebra" class="piece alfred three odd" href="/piece/alfred/">
    <img src="/images/artwork/380/Alfred.jpg" data-src-2x="/images/artwork/760/Alfred.jpg"/>
  </a>

</section>

<section id="about">

  <img class="profile" src="/images/profile/me.jpg" data-src-2x="/images/profile/me_2x.jpg" alt="A picture of me.">

  <header>
    <h2>I'm Alison</h2>
  </header>

  <p>
    I’m a recent graduate of a small, private university in Southern Iowa. I learned many different processes and used a wide variety of materials, but ended up falling in love with paper. Patterned paper, to be precise.
  </p>

  <p>
    I use paper because I am slightly obsessed with it, and the variety of colors and patterns that paper can come in lends itself nicely to my process. The different patterns add texture to what is technically a smooth, flat, surface. They intensify what could be a less thrilling piece if done in only solid colors. The patterns also help add depth to my otherwise two-dimensional pieces. Probably my favorite part of the process is choosing which colors and patterns to use in a piece. It can be a challenge to find just the right colors and patterns so that they do not fade into each other, but also do not compete for attention. The rest of my process, while at times quite tedious, is also fairly cathartic and satisfies the puzzle lover in me.  The strange shapes that I cut out need to be pieced together in just the right way to create a recognizable image. The problem solving and attention needed to accomplish this task is just as invigorating to me as finding the perfect papers.
  </p>

  <p>
    So far my subject matter has had a mostly organic, natural focus: animals, plants, people, etc. and in truth, that is what inspires me most. I find nature to be a peaceful, healing presence in my life.
  </p>

  <p>
    I currently live in the San Fancisco Bay Area and am just beginning the journey to become a professional artist. I’m excited to see what the next few years have in store as I grow as both a person, and as an artist.
  </p>
</section>