---
title: Bruce
description: Bruce
id: 'piece'
pageClasses:
  - 'piece'
priority: 0.9
layout: base
styles:
  - 'main'
  - 'piece/all'
scripts:
  - 'piece/all'
---

<%- lazyImage({ id: 'art', src: "/images/artwork/2080/Bruce.jpg" }) %>
<section>
  <ul>
    <li id="title">Bruce</li>
    <li id="year">2013</li>
    <li id="size">19&frac12;" x 32"</li>
    <li id="media">Paper, 7 different patterns</li>
    <li id="animal">Eastern Lowland Gorilla</li>
  </ul>
</section>