---
title: Chloe
description: Chloe
id: 'piece'
pageClasses:
  - 'piece'
priority: 0.9
layout: base
styles:
  - 'main'
---

<img id="art" src="/images/artwork/2080/Chloe.jpg">
<section>
  <ul>
    <li id="title">Chloe</li>
    <li id="year">2013</li>
    <li id="size">14&frac12;" x 20"</li>
    <li id="media">Paper, 7 different patterns</li>
    <li id="animal">Giraffe</li>
  </ul>
</section>