---
title: Gerald
description: Gerald
id: 'piece'
pageClasses:
  - 'piece'
priority: 0.9
layout: base
styles:
  - 'main'
---

<img id="art" src="/images/artwork/2080/Gerald.jpg">
<section>
  <ul>
    <li id="title">Gerald</li>
    <li id="year">2013</li>
    <li id="size">19&frac12;" x 27&frac12;"</li>
    <li id="media">Paper, 13 different patterns</li>
    <li id="animal">Thompson's Gazelle</li>
  </ul>
</section>