---
title: Petunia
description: Petunia
id: 'piece'
pageClasses:
  - 'piece'
priority: 0.9
layout: base
styles:
  - 'main'
---

<img id="art" src="/images/artwork/2080/Petunia.jpg">
<section>
  <ul>
    <li id="title">Petunia</li>
    <li id="year">2013</li>
    <li id="size">14&frac12;" x 22"</li>
    <li id="media">Paper, 6 different patterns</li>
    <li id="animal">Red Panda</li>
  </ul>
</section>