<nav>
    <a href="/" class="index">Home</a>
    <a href="/artwork" class="artwork">Artwork</a>
    <!-- <a href="/exhibits" class="exhibits">Exhibits</a>
    <a href="/public" class="public">Publications</a> -->
    <a href="/about" class="about">About Me</a>
    <a href="/contact" class="contact">Contact</a>
</nav>